// VARIABLES

$primary: #192532;
$primary-invert: #19cd91;

$pagination-current-background-color: #192532;
$pagination-current-border-color: #192532;
$pagination-focus-border-color: #192532;

$link: #118860;
